## Ollama API
requests

## Docker
# Reference: https://medium.com/@habbema/guia-de-instalação-do-docker-no-wsl-2-com-ubuntu-22-04-9ceabe4d79e8
# https://docs.docker.com/desktop/setup/install/linux/ubuntu/

## ElasticSearch

# curl -fsSL https://elastic.co/start-local | sh

# If it's permission error:
# 1. Run: sudo usermod -aG docker $USER
# 2. Close terminal and reopen
# 3. Run sudo curl -fsSL https://elastic.co/start-local | sh

elasticsearch
python-dotenv
