### Finetuning
# Install torch, torchvision, and torchaudio separately with the specified index URL:
# Decaprecated: pip3 install torch==2.5.1 torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
# New: pip3 install torch torchvision

# If necessary: pip install --upgrade --force-reinstall --no-cache-dir --no-deps unsloth unsloth_zoo
# If necessary: pip install --upgrade unsloth unsloth_zoo gguf; rm -rf ~/.unsloth/llama.cpp

unsloth @ git+https://github.com/unslothai/unsloth.git
trl
peft
accelerate
bitsandbytes
triton
transformers
unsloth-zoo
cmake
torch
torchvision

# Conditional dependency for xformers based on Torch version:
# If using torch < 2.4, manually install xformers==0.0.27:
# xformers==0.0.27
# Otherwise, use the latest compatible xformers version:
xformers
